<!DOCTYPE HTML>
  <head> <title> My Store </title>
<link rel="stylesheet" type="text/css" href="public/style.css">
</head><br/><body ><div align="center">
<%= yield %>
<a href="/">Go to Home</a> </div></body> </html>
